*{
    margin: 0;
    padding: 0;

}


body{
    display: grid;
    grid-row: 1fr 1fr 1fr ;
    background-color: rgb(220,20,60);
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
   
    
}

header{
    background-color: rgb(220,20,60);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    height: 20px;
}

nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 50% 50% ;
    padding: 10px;
    margin: 10px;
    border: 30px ;
    background-color:black;
}
.cards{
    display: grid;
    background-color: white;
    height: 150px;
    text-align: center;
    justify-items: center;
    margin: 5px;
    box-shadow: 2px 2px 5px white;
    color: red
}

.cards-de-video1{
    height: 100px;
    width: 85%;
}

.container-video{
    place-items:center;
    margin: auto;
}
.video1{
    place-items:center;
    width: 70%;
}

button{
    background-color:black;
    color: white;
}

footer{
    background-color: rgb(220,20,60);
    display: flex;
    justify-content: space-between;
    color: white;
    height:10px;
    text-align: center;
    margin: 10px;
}

.body-video1{

    height: 100vh;
    background-color: chocolate;

}

@media screen and (max-device-width: 480px) {
    nav{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;

    }
}
